/* text-align */
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tj {
  text-align: justify;
}

/* Flex-Direction flex-wrap flex */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-initial {
  flex: 0 1 auto;
}
.flex-none {
  flex: none;
}

.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink {
  flex-shrink: 1;
}

/* align-items justify-content */
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

/* position */
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}

/* width height */
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.w-app-screen {
  width: 375px;
}
.h-full {
  height: 100%;
}
.h-min-full {
  min-height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-min-screen {
  min-height: 100vh;
}
.h-app-screen {
  /* 注意使用：比如iPhone6和iPhone X宽度相同但是高度不同 */
  height: 667px;
}

/* cursor */
.cursor-pointer {
  cursor: pointer;
}

/* display */
.hidden {
  display: none !important;
}

/* box-sizing */
/* { box-sizing: border-box; } */
.box-border {
  box-sizing: border-box;
}

/* font-weight https://www.tailwindcss.cn/docs/font-weight */
.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

.indent-2 {
  text-indent: 2em;
}

/* 公共组件svg */
.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.svg-external-icon {
  background-color: currentColor;
  mask-size: cover !important;
  -webkit-mask-size: cover !important;
  display: inline-block;
}
